doctype html
html
  head 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="/stylesheets/bootstrap.css")
    link(rel="stylesheet",href="/stylesheets/datatables.css")
    script(src="/javascripts/jquery.js") 
    script(src="/javascripts/datatables.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src='/javascripts/index.js')
  body
    block content
